
@media only screen and (min-width: 1100px) {
    .heroMain {
     width: 1100px;
   }
}
.lightTheme {
 --background: #fff;
 --foreground: #000;
 --accents-1: #FAFAFA;
 --accents-2: #EAEAEA;
 --accents-3: #999;
 --accents-4: #444;
 --accents-5: #666;
 --accents-6: #444;
 --accents-7: #333;
 --accents-8: 111;
 color: var(--foreground);
 background-color: var(--background)
}

.darkTheme {
 --background: #000;
 --foreground: #fff;
 --accents-8: #FAFAFA;
 --accents-7: #EAEAEA;
 --accents-6: #999;
 --accents-5: #444;
 --accents-4: #666;
 --accents-3: #444;
 --accents-2: #333;
 --accents-1: #111;
 color: var(--foreground);
 background-color: var(--background)
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectPrimary {
  display:flex;
  align-items: center;
  margin-block: var(--gap)
}


.headerHuge {
   font-size: 4rem;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-image: linear-gradient(90deg,#0070F3, #F81CE5,#EB367F,#FF0080,#FFF500, #0070F3);
   letter-spacing: -.07em;
   font-weight: 800;
   margin: var(--gap) 0;
   line-height: 1;
   background-size: 10000px;
   background-position: -10000px;
   animation: headerbackground 20s linear infinite alternate;

}

@keyframes headerbackground {
  from{
    background-position: -10000px;
  }
  to {
    background-position: 0px;
  }
}

.heroContentContainer{
  padding-inline: var(--gap)
}

.text80 {
  max-width: 90%
}

.socialsContainer {
  display: flex;
  gap: var(--gap);
  margin-block: var(--gap)
}

.heroImageConatiner {
  position: relative;
  flex-basis: 100%;
  display: grid;
  place-items: center;
}


.imageContainer {
  position: relative;
  display: grid;
  width: min(90%,300px);
  aspect-ratio: 3/4;
  place-items: center;
  background-image: linear-gradient(90deg,#0070F3, #F81CE5,#EB367F,#FF0080,#FFF500, #0070F3);
  background-size: 10000px;
  background-position: -10000px;
  animation: headerbackground 20s linear infinite alternate;
}

.myImage {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accents-3);
  left: calc(var(--gap) * -1);
  top: var(--gap)
}

@media (max-width: 700px) {
  .sectPrimary {
    flex-direction: column;
  }
}
